.main-container {
  margin-top: 5px;
  margin-bottom: 100px;
}

.main-container-posts-order-tab-bar ul {
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid var(--secondary-teal);
}

.main-container-posts-order-tab-bar ul li {
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
}

.main-container-posts-order-tab-bar ul .active-posts-order-tab {
  background-color: var(--secondary-teal);
  color: white;
}

.main-container-posts-container {
  margin-top: -16px;
  padding: 10px 5px 5px 5px;
}