.content-post {
  display: flex;
  margin-left: 25px;
  margin-bottom: 10px;
}

.content-vote-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.content-vote-panel button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.content-vote-panel button:focus {
  outline: none;
}

.content-vote-panel button svg {
  font-size: 20px;
}
.content-vote-panel button svg:hover {
  color: var(--secondary-teal);
}

.content-title {
  display: flex;
}

.content-title-main {
  font-size: 28px;
}

.content-title-domain {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
}

.content-tag-panel {
  display: flex;
  margin-right: 5px;
  margin-top: 2px;
}

.content-tag-panel .content-tag {
  margin-right: 5px;
  padding: 2px 5px;
  font-size: 12px;
}

.content-tag {
  border: 1px solid transparent;
}

.content-tag:hover {
  border: 1px solid black;
}

.content-tag a {
  color: black;
}

.content-meta-panel {
  font-size: 11px;
}

.content-control-panel button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}