.subtab-container {

}

.subtab-bar {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  font-weight: 400d;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.subtab-bar a {
  flex-grow: 1;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.subtab-container li {
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.subtab-bar .subtab-active-tab {
  border-bottom: 3px solid var(--secondary-teal);
  transition: color .4s ease;
  transition: border-bottom .4s ease;
  color: var(--secondary-teal);
}